* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.banner {
    background-image: url(./img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.container {
    padding: 0 200px;
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.menu a {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    padding: 30px;
    font-weight: bold;
}

.menu a:hover {
    color: aquamarine;
}

.logo img {
    padding: 30px;
}

.menu {
    display: flex;
}

.titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

}

h1 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 55px;
    line-height: 65px;
    letter-spacing: 5px;
    text-align: center;

}

h2 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 10px;
    text-align: center;
}

    .content {
        height: calc(100% - 100px);
    
    }
    .about-me-section {
        padding-top: 103px;
    }
    .about-text {
        color: #9EB9D7;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 2px;
        text-align: center;
        text-transform: uppercase;


    }
    .about-me-title {
        font-family: Montserrat;
font-size: 20px;
font-weight: 700;
line-height: 32px;
letter-spacing: -0.5px;
text-align: center;
color: #fff;
margin-top: 25px;
    }